.cart {
    position: relative;
    top: 200px;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    /* top: 33vw;
    left: 20%;  */
}

h1 {
    /* top: 100px; */
    font-family: 'Nunito', sans-serif;
    font-size: 80px;
    padding-bottom: 100px;
}

.empty {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
}