.business {
    margin: 10px 0px;
    font-family: 'Nunito', sans-serif;
}

.images {
    display: flex;
    justify-content: space-around;
}

#map {
    width: 48vw;
    height: 30vw;
    border-radius: 10px;
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    text-align: center;
}

img {
    width: 48vw;
    height: 30vw;
    border-radius: 10px;
}

.services {
    font-family: 'Nunito', sans-serif;
}

.reviews {
    font-family: 'Nunito', sans-serif;
}

.misc {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}