<div class="body">    
    <div class="business" *ngIf="biz !== undefined">

    <h1>{{biz.businessName}}</h1>

    <div class="images">
        <!-- <div class="address" *ngIf="biz !== undefined"> -->
        <!-- <h2>Location</h2> -->
        <img [src]="biz.logo" width="300px">
        <div id="map"></div>
        <!-- </div> -->
    </div>

    <p>Address: {{biz.address}}</p>
    <p>Phone: {{biz.phone}}</p>
    <p>Email: {{biz.email}}</p>
</div>

<div class="misc">

    <div class="services" *ngIf="svcs.length > 0">
        <h2>Services</h2>
    <div *ngFor="let s of svcs" [id]="'sId'+ s.serviceId">
        <table>
            <td>
                <tr>{{s.title}}</tr>
                <tr>{{s.description}}</tr>
            </td>
            <td>
                <tr></tr>
                <tr>{{s.price}}</tr>
            </td>
            <td>
                <tr>
                    <button type="button" (click)="addToCart(s.serviceId)">Add to cart</button>
                </tr>
            </td>
        </table>
    </div>
</div>

<div class="reviews" *ngIf="rvws.length > 0">
    <h2>Reviews</h2>
    <div *ngFor="let r of rvws" [id]="'rId'+ r.reviewId">
        <table>
            <tr>
                <td>{{r.reviewer}}</td>
                <td>Rating: {{r.rating}}/5</td>
            </tr>
            <tr>
                <td>{{r.content}}</td>
            </tr>
            <tr>
                <td>{{r.reviewDate}}</td>
            </tr>
        </table>
    </div>
</div>
</div>
    </div>