.head {
    width: 100vw;
    display: inline-block;
    background-color: white;
    position: fixed;
}

.bar {
    position: fixed;
    top: 20px;
    left: 50%;
    padding-left: 10px;
    padding-right: 10px;
    transform: translateX(-50%);
    background-color: rgb(245 245 245);
    border-radius: 30px;
}

.bar:hover {
    background-color: rgb(236 236 236);
}

button {
    border: 0px;
    background-color: transparent;
}

#filter-image {
    width: 35px;
    height: 35px;
}

::ng-deep .mat-autocomplete-panel{
    /* background-color: white; */
    border-radius: 10px;    
}

#submit-button {
    margin-top: 20px;
}

#search {
    width: 50px;
}

#cart {
    position: fixed;
    width: 50px;
    top:25px;
    right: 35px;
}