<app-header></app-header>

<div class="login">
    <h1>Please login before checking out your cart</h1>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <table>
            <tr>
                <td>Username:</td>
                <td><input type="text" formControlName="username"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="text" formControlName="password"></td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align: end;"><button type="submit">Login</button></td>
            </tr>
        </table>
    </form>

    <!-- <div class="container unauthenticated"> -->
        <div class="btn-auth" (click)="navigate()">
            <img src="/assets/icons/auth-icons.png">
            <span class="btn-auth btn-github large">
                Or continue with <b>GitHub</b>
            </span>
        </div>
    <!-- </div> -->
</div>