<app-header></app-header>

<h1>Please login before checking out your cart</h1>
<div class="login">

    <form [formGroup]="loginForm">
        <table>
            <tr>
                <td>Username:</td>
                <td><input type="text" formControlName="username"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="text" formControlName="password"></td>
            </tr>
        </table>
    </form>

    Or signin below
    <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->
</div>