div {
    position: fixed;
    background-color: white;
    top: 20px;
    left: 30px;
    display: inline;
}

.name {
    font-family: 'Aboreto';
    font-size: 30px;
    font-weight: 100px;
    left: 120px;
    top: 50px;
}

#house {
    top: 60px;
}

img {
    height: 100px;
}