<div class="home">
    <div class="head">
        <!-- header -->
        <div class="header">
            <app-header (search)="searchKeyword($event)"></app-header>
        </div>
        <!-- <app-header></app-header> -->

        <!-- categories -->
        <div class="categories">
            <div *ngFor="let c of categories; let i = index" class="category" (click)="changeCategory(c)">
                <div class="image">
                    <img class="category-icon" *ngIf="over"
                    [src]="over[i] ? '/assets/icons/' + c + '_hover.png' : '/assets/icons/' + c + '.png'"
                    (mouseover)="over[i] = true" (mouseout)="over[i] = false">
                </div>
                <p>{{c | titlecase}}</p>
            </div>
        </div>
    </div>

    <!-- results -->
    <div class="business-results">
        <app-results *ngIf="inspectBusiness == false" (selectedBizId)="selectBusiness($event)"
            [category]="selectedCategory" [search]="searchTerms"></app-results>

        <div *ngIf="inspectBusiness == true">
            <p (click)="inspectBusiness = false">
                <img class="category-icon" *ngIf="over"
                    [src]="overReturn ? '/assets/icons/hover.png' : '/assets/icons/return_hover.png'"
                    (mouseover)="overReturn = true" (mouseout)="overReturn = false">
                back to results</p>
            <app-business [businessId]="bizId"></app-business>
        </div>
    </div>
</div>