.home {
    display: block;
    font-family: 'Nunito', sans-serif;

}

.head {
    position: fixed;
    background-color: white;
    width: 100%;
    z-index:1;
    font-family: 'Nunito', sans-serif;

}

.categories {
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
    font-family: 'Nunito', sans-serif;

}

.category {
    flex-direction: column;
    justify-items: center;
    font-family: 'Nunito', sans-serif;

}

.category-icon {
    width: 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.category-icon:hover{
    position: relative;
    width: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.business-results {
    position: absolute;
    width: 100%;
    top: 215px;
    font-family: 'Nunito', sans-serif;

}

.return {
    position: relative;
    top: 30px;
    left: 85%;
    width: 30px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}

.return-image {
    width: 30px;
}