<app-logo></app-logo>

<h1>Checkout</h1>
<button routerLink="/cart">Return to Cart</button>

  <mat-card class="item" *ngIf="item !== undefined">
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>{{item.title}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="item.logo" width="100px">
      <mat-card-content>
        By {{item.businessName | titlecase}}
        Quantity: {{item.quantity}}
        Price: ${{item.price}}
      </mat-card-content>
    </mat-card>

      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="pay()">
          Make Payment
        </button>
      </mat-card-actions>